// Files in this folder will be added at the end of the SASS compilation
/*.an_example_customer_sass_file {
  color: $gw-app--col;
}*/
#GLQuestionsSetBox2 {
    width: 100%;
}

.tdic-gl-uw-wordwrap label {
    white-space: normal;
}