
// Gray
$gw-app--palette--black: #1F1F1F;
$gw-app--palette--offblack: #222222;
$gw-app--palette--gray-5: #545C67;
$gw-app--palette--gray-7: #7b7b7b;
$gw-app--palette--gray-8: #8c8c8c;
$gw-app--palette--gray-9: #969696;
$gw-app--palette--gray-A: #A1A8B4;
$gw-app--palette--gray-B: #BAC0C7;
$gw-app--palette--gray-C: #C8C8C8;
$gw-app--palette--gray-D: #d5cfce;//#D9DDE1;
$gw-app--palette--gray-E: #E6E6E6;
$gw-app--palette--offwhite: #f6f6f7;
$gw-app--palette--white: #ffffff;

//Blue
$gw-app--palette--blue: #26A9E0;
$gw-app--palette--blue-hint: #E6F5FB;
//$gw-app--palette--blue-highlight: #d8f0f9;
$gw-app--palette--blue-highlight-alt: #b6d6f5;
$gw-app--palette--blue-active: #88CEE8;
$gw-app--palette--blue-light: #5EB5DA;
//$gw-app--palette--blue-focus: #00baff;
$gw-app--palette--blue-gray: #7086A2;
$gw-app--palette--blue-dark: #5881b6;

// General Base Colors
$gw-app--palette--yellow: #FFF8D7;
$gw-app--palette--yellow-dark: #dfda63;

$gw-app--palette--green-light: #cce185;
$gw-app--palette--green: #84b64d;
$gw-app--palette--green-dark: #4D8C6C; //#5D8135

$gw-app--palette--red-light: #DF675A;
$gw-app--palette--red: #db5345;
$gw-app--palette--red-dark: #c81414;

$gw-app--palette--orange-light: #FEF6E9;
$gw-app--palette--orange: #f2a629;
//$gw-app--palette--orange-dark: #D2845C;

$gw-app--palette--beige: #FCECD1;
$gw-app--palette--beige-dark: #EBD7B5;

$gw-app--palette--shadow-col: rgba(0, 0, 0, .15);

$gw-theme-green-white-palette--blue-selected: #3769A8;
$gw-theme-green-white-palette--left-nav-disabled-col: #858F9C;
$gw-theme-green-white-palette--wizard-border-col: #627996;
//$gw-theme-green-white-palette--link: #1C90C2;
$gw-theme-green-white-palette--buttons-bg: #74A242;
$gw-theme-green-white-palette--progress-bar-default: #566A84;
$gw-theme-green-white-palette--date-picker-other-month-col: #717171;
$gw-theme-green-white-palette--placeholder-col: #767676;

//TDIC colors
$tdic-app--palette--maroon: #ac1b0e;
$tdic-app--palette--green: #a3c40f;
$tdic-app--tooltips--bg: #fef4f3;
$tdic-app--menus--hover--bg: #faf6f6;

$tdic-theme-maroon-palette--buttons-bg: $tdic-app--palette--maroon;
$tdic-theme-maroon-palette--buttons-disabled-bg: #eae5e5;
$tdic-theme-maroon-palette--buttons-disabled-col: #858585;
$tdic-theme-maroon-palette--top-nav-bg: #f8f4f4; //tdic web color -> e2e1dd
$tdic-theme-maroon-palette--west-panel-dark-maroon: #921005;
//$tdic-theme-maroon-palette--left-nav-disabled-col: #9c8f8e;
$tdic-theme-maroon-palette--wizard-border-col: $tdic-app--palette--maroon;
//$tdic-theme-maroon-palette--progress-bar-default: #fb0ae9;
$tdic-theme-maroon-palette--required-star-col: #fc3621;

//TDIC overrides
$gw-app--palette--alertinfo: $tdic-app--palette--maroon;
$gw-app--palette--progressunstarted: #538f03;//3e6a03;
$gw-app--palette--progresscomplete: #9bda56;
$gw-app--palette--blue: #df3526;
$gw-app--palette--blue-dark: #b46058;
$gw-app--palette--blue-dark-accent: #5a3e3b;
$gw-app--palette--blue-active: #e89189;
$gw-app--palette--blue-highlight: #e7dcd8;
$gw-app--palette--blue-focus: #fff0ea;

$gw-app--palette--orange-dark: #f1590b;

$gw-theme-green-white-palette--link: #14818e;

// Specific Callout for Left Nav Coloring
$gw-app--palette--left-nav--bg: #4b3534;
$gw-app--palette--left-nav--col: $gw-app--palette--gray-E;
$gw-app--palette--left-nav--bg-highlight: #362625;
$gw-app--palette--left-nav--bg-lighter: #624544;
$gw-app--palette--left-nav--border-col: #641813;
$gw-app--palette--left-nav--wizard-bg: #79514f;

$gw-app--NorthPanel--progress--bg: $tdic-app--palette--green;

